# Crash Course on Python by DR. MAHDY RAHMAN CHOWDHURY

# Variable and DataType

In [1]:
# Variable assignment
var = 5 #now its integer
print(var)
print(type(var))

var = 4.5 #now its float
print(var)
print(type(var))

var = "My Name is Joy" #now its string
print(var)
print(type(var))

var = True #now it will working as a boolean value
print(var)
print(type(var))


# in python, when we use a variable, last defined data will be used

5
<class 'int'>
4.5
<class 'float'>
My Name is Joy
<class 'str'>
True
<class 'bool'>

## In python, we don't need to define the datatype, Python karnel automatically detect the datatype

## there are two kinds of variable
1. Local Variable => variable defined in a function, and access limited to the defined function only
2. Global Variable => varaible defined in out of all function, can be access from any function

In [2]:
a = 10 #global variable, it can be access from any function

def function1():
    b = 5 #local variable for function 1, outside of this function no one can access b
    sum = a + b #this sum is local variable for this function, here a is global variable, thats why we can get access to it
    print("Sum from Function1: ", sum) #printing the local variable sum

def function2(): #defining another function
    c = 10 #local variable for this function
    sum = a + c #a is global and c is local, we can't access b from this function, because b is local variable of function1
    print("Sum from Function2: ", sum) #printing local variable sum of this function


function1() #calling the function
function2() #calling the function

Sum from Function1:  15
Sum from Function2:  20

# Data Structure

## List

In [3]:
myList = [0, 1, 2, 3, 4, 5] #defining list
print(myList[4]) #List acces by index number
print(myList[0]) #acess by index
myList #print entire list

4
0

[0, 1, 2, 3, 4, 5]

## List Slicing operation
myList[ starting index included : Ending index excluded ]

In [4]:
myList[:] #printing entire list

[0, 1, 2, 3, 4, 5]

In [5]:
myList[0:4] #printing frim index 0 to 3

[0, 1, 2, 3]

In [6]:
myList[:3] #printing from starting index(as not defined start with 0) to 2

[0, 1, 2]

In [7]:
myList[4:] #Start with 4 but end with the last index as it is defined

[4, 5]

In [8]:
myList[2:2] #as ending index is exclueded, it will print empty list

[]

In [9]:
myList[4:10] #you can see, as there is no index after 6, it just omited the iteration and print up to 6

[4, 5]

## slicing with negative index
myList [ - index] = length of list - given index

In [10]:
myList[-4] #as our list have a length of 6, it will print 6-4=2

2

In [11]:
myList[-3]

3

In [12]:
myList[-0] #as 0 is not negative number, it will print the index 0 instead

0

In [13]:
#myList[-7] #6-7=-1 out of index, this will not run, commenting the entire code

## combining positive and negative slicing

In [14]:
myList[1:-5] #start with 1 end with 6-5=1(exclueded), so it will print empty list

[]

In [15]:
myList[1:-4] #start with 1 and end with 6-4=2(excluded)

[1]

## slicing with interval
myList [ **start index : end index excluded : interval or difference**]

In [16]:
myList[0:6:2] # start with 0 end with 6 but exluded and every time it will ise the interval 2

[0, 2, 4]

In [17]:
myList[6:0:-1] #it will reverse the list as it start eith the last index and end with the first index and the interval is -1

[5, 4, 3, 2, 1]

## Extend a list and modification of list

In [18]:
newList = myList.copy() #copy the list to newList
newList

[0, 1, 2, 3, 4, 5]

In [19]:
newList.append(10) #adding 10 at the end index
newList

[0, 1, 2, 3, 4, 5, 10]

In [20]:
newList = newList + [20] #adding 20 at the end index
newList

[0, 1, 2, 3, 4, 5, 10, 20]

In [21]:
newList = newList + myList #adding two list
newList

[0, 1, 2, 3, 4, 5, 10, 20, 0, 1, 2, 3, 4, 5]

## adding new item in a specific index

In [22]:
newList = myList.copy() #copy the list to newList
newList

[0, 1, 2, 3, 4, 5]

In [23]:
newList[4:4] = [10] #as we know normally this range will give empty list, but the pointer exist in the index 4
                    #new item will place there and the other item will shift to the right
newList

[0, 1, 2, 3, 10, 4, 5]

In [24]:
newList[2:4] = [10] #as this return the index 2 and 3, so this assignment operator will remove thes index and place 10
newList

[0, 1, 10, 10, 4, 5]

## some method use in list

In [25]:
newList = [10, 20, 30, 30, 40, 50, 80] #total 7 item, containing a duplicate item
newList

[10, 20, 30, 30, 40, 50, 80]

In [26]:
newList.append(90) #adding new item at the last index
newList

[10, 20, 30, 30, 40, 50, 80, 90]

In [27]:
newList.remove(90) #remove the given content where it first appear
newList

[10, 20, 30, 30, 40, 50, 80]

In [28]:
newList.count(30) #count the number of given elements in a list

2

In [29]:
newList.index(30) #return the index number where the given content first appear

2

In [30]:
newList.pop(2) #returnt the content and remove as the given index

30

In [31]:
newList

[10, 20, 30, 40, 50, 80]

In [32]:
newList.pop() #if not defined then it will pop from the ending index

80

In [33]:
newList

[10, 20, 30, 40, 50]

In [34]:
newList.insert(2, 35) #insert the content 35 at the index 2 and other are shift to the right
newList

[10, 20, 35, 30, 40, 50]

In [35]:
newList.reverse() #it will reverse the list
newList

[50, 40, 30, 35, 20, 10]

In [36]:
newList.sort() #it will sort the list
newList

[10, 20, 30, 35, 40, 50]

In [37]:
newList.clear() #it will remove all content from the list and make empty list
newList

[]

# Tuple
same as List, one difference is in syntax, tuple use () for data\
also tuple is not changeable

In [38]:
myTuple = (0, 1, 2, 3, 4, 5) #defining a tuple
myTuple #printing tuple

(0, 1, 2, 3, 4, 5)

In [39]:
myTuple[2] #accesing tuple by index

2

In [40]:
myTuple[2:6] #slicing of tuple like list

(2, 3, 4, 5)

In [41]:
#myTuple[2] = (5) #error, tuple is not changeable

## method of tuple

In [42]:
myTuple = (10, 20, 30, 30, 40, 50) #defining tuple with duplicate item
myTuple

(10, 20, 30, 30, 40, 50)

In [43]:
myTuple.count(30) #retunr the number of given elements in the tuple

2

In [44]:
myTuple.index(30) #return the index of the given elements where it appear first

2

## Some funtion use in tuple

In [45]:
len(myTuple) #return the length of the tuple

6

In [46]:
min(myTuple) #return the minimun elements from the tuple

10

In [47]:
max(myTuple) #return the maximum elemetns from the tuple

50

In [48]:
sum(myTuple) #return the sum of all elements from the tuple

180

## Loop Tuple

In [49]:
i = 0 #initialize loop count
while i < len(myTuple): #if i is less than the length of the tuple then it will executed
    print(myTuple[i]) #printing tuple elements by accessing thru index
    i = i + 1 #increasing value of i so the loop is limited

10
20
30
30
40
50

# Set
use { }

In [50]:
mySet = {"joy", 2211424} #contain a combination of all kind of data and cannot be duplicate
mySet

{2211424, 'joy'}

## Set Operation

In [51]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("A = ", A)
print("B = ", B)

A =  {1, 2, 3, 4, 5}
B =  {4, 5, 6, 7, 8}

In [52]:
#Union operation
union = A.union(B) #member of A or B or Both
print("A = ", A)
print("B = ", B)
print("union = ", union)

A =  {1, 2, 3, 4, 5}
B =  {4, 5, 6, 7, 8}
union =  {1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
#Intersection Operation
intersection = A.intersection(B) #member of both A and B
print("A = ", A)
print("B = ", B)
print("intersection = ", intersection)

A =  {1, 2, 3, 4, 5}
B =  {4, 5, 6, 7, 8}
intersection =  {4, 5}

In [54]:
#Difference Operation
differences = A.difference(B) #member of A but not a member of B
print("A = ", A)
print("B = ", B)
print("differences = ", differences)

A =  {1, 2, 3, 4, 5}
B =  {4, 5, 6, 7, 8}
differences =  {1, 2, 3}

In [55]:
#Symmetric Difference Operation
symmetricDifferences = A.symmetric_difference(B) #member of one of the sets but not both
print("A = ", A)
print("B = ", B)
print("symmetricDifferences = ", symmetricDifferences)

A =  {1, 2, 3, 4, 5}
B =  {4, 5, 6, 7, 8}
symmetricDifferences =  {1, 2, 3, 6, 7, 8}

# Stack Strucrture

## Stack have two method, push and pop
PUSH => add and item at top of the stack\
POP => return and remove an item from the top of the stack

## We can easily implent a stack using List and its method

In [56]:
myStack = [] #defining a stack
myStack

[]

In [57]:
myStack.append(20) #for push an item we need to use the append method
myStack

[20]

In [58]:
myStack.append(50)
myStack

[20, 50]

In [59]:
print(myStack.pop()) #as pop method have no index defined then it will remove and return an item from the last index
myStack

50

[20]

# Queue Structure

## We can also use a list to implement a Queue
a queue has two method, Enqueue and Dequeue\
Enqueue => add and item at the end of the queue\
Dequeue => return and remove an item from the strat index of the queue

In [60]:
myQueue = [] #defining a queue
myQueue

[]

In [61]:
myQueue.append(20) #enque one element
myQueue

[20]

In [62]:
myQueue.append(50)
myQueue

[20, 50]

In [63]:
print(myQueue.pop(0)) #here we use 0 as index of pop, so now it will dequeue an element from the queue
myQueue

20

[50]

# Dictionary

## its a pair of data
key => value

In [64]:
myDictionary = {
    "Name" : "Joy",
    "ID" : 2211424
}

myDictionary

{'Name': 'Joy', 'ID': 2211424}

## Access of dictionary

In [65]:
myDictionary["Name"] #access by defining the key

'Joy'

In [66]:
myDictionary["ID"] #access by key

2211424

## Nested Dictionary

In [67]:
myAddress = {
    "Address" : "Dhaka",
    "Phone" : "01700000000"
}

myDictionary = {
    "Name" : "Joy",
    "ID" : 2211424,
    "Address" : myAddress
}


print(myAddress)
print(myDictionary)

{'Address': 'Dhaka', 'Phone': '01700000000'}
{'Name': 'Joy', 'ID': 2211424, 'Address': {'Address': 'Dhaka', 'Phone': '01700000000'}}

## Access of nested dictionary

In [68]:
myDictionary["Name"] #access by key

'Joy'

In [69]:
myDictionary["Address"] #access by key as the value is a dictionary it print the whole dictionary

{'Address': 'Dhaka', 'Phone': '01700000000'}

In [70]:
myDictionary["Address"]["Phone"] #access by key of nested dictionary

'01700000000'

# Mathematical Operation

In [71]:
X = 10
Y = 4

print("addition = ", X + Y)
print("subtraction = ", X - Y)
print("multiplication = ", X * Y)
print("divisionFloat = ", X / Y)
print("divisionFloor = ", X // Y)
print("modulas = ", X % Y)
print("power = ", X ** Y)

addition =  14
subtraction =  6
multiplication =  40
divisionFloat =  2.5
divisionFloor =  2
modulas =  2
power =  10000

# Logical Operator

In [72]:
X = 1
Y = 0

print("AND = ", X and Y)
print("OR = ", X or Y)
print("NOT X = ", not X)

AND =  0
OR =  1
NOT X =  False

# Comparison Operator

In [73]:
X = 5
Y = 4

print("X greater than Y = ", X > Y)
print("X less than Y = ", X < Y)
print("X greater than or equal Y = ", X >= Y)
print("X less than or equal Y = ", X <= Y)
print("X is equal Y = ", X == Y)
print("X is not equal to Y =", X != Y)

X greater than Y =  True
X less than Y =  False
X greater than or equal Y =  True
X less than or equal Y =  False
X is equal Y =  False
X is not equal to Y = True

# Control Flow

## IF-ELSE

In [74]:
condition =  True #condition can be any kind of expression, can be a combination of AND OR etc.

if condition:
    print("Successful - True") #indentation must
else:
    print("Unsuccessful - False")

Successful - True

In [75]:
condition =  False

if condition:
    print("Successful - True")
else: #if condition is false then this part will executed
    print("Unsuccessful - False")

Unsuccessful - False

## Single Line IF-ELSE

In [76]:
condition = True
print("Successful - True") if condition else print("Unsuccessful - False")

Successful - True

In [77]:
condition = False
print("Successful - True") if condition else print("Unsuccessful - False")

Unsuccessful - False

# LOOPS

## FOR LOOP
if we know the iterable count

In [78]:
for i in range(5): #range is a function reeturn a list, in this case 0-5
    print(i)

0
1
2
3
4

In [79]:
for i in range(2, 6): #range is a function reeturn a list, in this case it will start from 2 end in 5
    print(i)

2
3
4
5

In [80]:
for i in range(2, 6, 2): #range is a function reeturn a list, in this case it will start from 2 end in 5, now interval added
    print(i)

2
4

## FOR-ELSE
if the statement in the for loop executed and terminated normally without any break then else block will executed

In [81]:
for i in range(5):
    print(i)
else:
    print("Terminated Successfully")

0
1
2
3
4
Terminated Successfully

In [82]:
for i in range(5):
    print(i)
    if i > 2:
        break #use to break the loop in the middle of the runtime
else:
    print("Terminated Successfully")

0
1
2
3

## Use of iterable list

In [83]:
myList = [10, 20, 30, 40, 50]

for i in myList: #everytime for loop will take one element from the list and assign it in i
    print(i)

10
20
30
40
50

## WHILE-LOOP
when we know the condition only

In [84]:
count = 0

while count < 5: #as long as this condition is true, while loop statement will executed
    print("Successfull - ", count)
    count = count + 1

Successfull -  0
Successfull -  1
Successfull -  2
Successfull -  3
Successfull -  4

# Function
whith parameter or without parameter\
with return or without return

In [85]:
def myFunction(): #here def is a resever word means define, then function name, then parameter if needed in the ()
    print("I am a funtion without parameter and withour any return value")

#function define done but it will not give any output

In [86]:
# now calling the function, just type the funtion name
myFunction()

I am a funtion without parameter and withour any return value

In [87]:
def myFunction(x, y): #now with paramater
    sum = x + y
    print("I am a function with parameter but without return")
    print("I have these parameter - ", x, " - ", y)

In [88]:
myFunction(5, 4) #now calling the funtion with parameter

I am a function with parameter but without return
I have these parameter -  5  -  4

In [89]:
def myFunction(x, y): #now with paramater
    sum = x + y
    print("I am a function with parameter and return")
    print("I have these parameter - ", x, " - ", y)
    print("For catch my return value, you need to assign me on a variable or use direct print")
    return sum

In [90]:
value = myFunction(5, 4) #passing paramter and using a variable for storint return value
value

I am a function with parameter and return
I have these parameter -  5  -  4
For catch my return value, you need to assign me on a variable or use direct print

9

## Lamda Function - Single expression funtion

In [91]:
myFunction = lambda x, y : x+y
myFunction(4, 5)

9

# Object Oriented Programming - OOP

## Class define
class is a blueprint of object\
two part of a class, properties and method

In [92]:
class myClass:
    #properties
    def __init__ (self, name, university): #this function is called automatically every time the class is being used to create a new object
        self.name = name #initiate properties
        self.university = university

    #function
    def getName(self): #self keyword need to give always to mention the self class
        return self.name

In [93]:
joy = myClass("Joy", "NSU") #object create

In [94]:
joy.name #access the properties

'Joy'

In [95]:
joy.getName() #access the funtion

'Joy'