In [32]:
import pandas as pd
import numpy as np

# 1. How to import pandas and check the version?

In [33]:
 print(pd.__version__)

2.2.0

In [34]:
pd.show_versions(as_json = True)

{
  "system": {
    "commit": "f538741432edf55c6b9fb5d0d496d2dd1d7c2457",
    "python": "3.12.1.final.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "11",
    "Version": "10.0.22631",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 165 Stepping 2, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "English_United States",
      "encoding": "1252"
    }
  },
  "dependencies": {
    "pandas": "2.2.0",
    "numpy": "1.26.3",
    "pytz": "2024.1",
    "dateutil": "2.8.2",
    "setuptools": null,
    "pip": "23.2.1",
    "Cython": null,
    "pytest": null,
    "hypothesis": null,
    "sphinx": null,
    "blosc": null,
    "feather": null,
    "xlsxwriter": null,
    "lxml.etree": "5.1.0",
    "html5lib": null,
    "pymysql": null,
    "psycopg2": null,
    "jinja2": "3.1.3",
    "IPython": "8.21.0",
    "pandas_datareader": null,
    "adbc-driver-postgresql": null,
    "adbc-driver-sqlite": null,
    "bs4": "4.12.3",
    "bottleneck": null,
    "dataframe-api-compat": null,
    "fastparquet": null,
    "fsspec": null,
    "gcsfs": null,
    "matplotlib": null,
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": "3.1.2",
    "pandas_gbq": null,
    "pyarrow": null,
    "pyreadstat": null,
    "python-calamine": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": null,
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "zstandard": null,
    "tzdata": "2023.4",
    "qtpy": null,
    "pyqt5": null
  }
}

# 2. How to create a series from a list, numpy array and dict?

In [35]:
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [36]:
myarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [37]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [38]:
print(pd.Series(mydict).head())

a    0
b    1
c    2
d    3
e    4
dtype: int32

# 3. How to convert the index of a series into a column of a dataframe?

In [39]:
ser = pd.Series(mydict)

In [40]:
df = ser.to_frame().reset_index()

In [41]:
df

   index   0
0      a   0
1      b   1
2      c   2
3      d   3
4      e   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# 4. How to combine many series to form a dataframe?

In [42]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

In [43]:
df = pd.DataFrame({'col1' : ser1, 'col2' : ser2})
df

   col1  col2
0     a     0
1     b     1
2     c     2
3     d     3
4     e     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

# 5. How to assign name to the seriesâ€™ index?

In [47]:
ser1.name = 'alphabets'
ser1.head()

0    a
1    b
2    c
3    d
4    e
Name: alphabets, dtype: object

In [48]:
ser1

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object